.container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    height: 10%;
}


.button {
    padding: 1vw;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
}

.button:hover {
    background-color: #dee2e6;
}


.button_icon {
    width: 2vw;
    height: 2vw;
}