.input,
.input_valid,
.input_error {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    outline: 3px solid #adb5bd;
    font-size: larger;
}

.input_valid {
    outline: 3px solid #57cc99;
}

.input_error {
    outline: 3px solid #c9184a;
}

.input:focus,
.input_valid:focus,
.input_error:focus {
    outline: 3px solid black;
}