.text {
    padding: 10px;
    width: 90%;
    height: 6em;
    border-radius: 10px;
    outline: 3px solid #adb5bd;
    font-size: 1em;
    resize: none;
}

.text::placeholder {
    color: #adb5bd;
}

.text:focus {
    outline-color: black;
}