.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6%;
    background-color: #e9ecef;
}


.container_account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}


.container_navigator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
    width: 100%;
    height: 90%;
}


.button_acc {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}


.button_nav {
    width: 2vw;
    height: 2vw;
}