.container {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 33%;
    height: 33%;
    background-color: antiquewhite;
    border-radius: 30px;
}


.conatiner_hidden {
    display: hidden;
}